storage/node-red/flows.json
[
    {
        "id": "5b18dbe0f3094eef",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "59358572ac1aa6e1",
        "type": "inject",
        "z": "5b18dbe0f3094eef",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 310,
        "y": 40,
        "wires": [
            [
                "037956a115ac26bf"
            ]
        ]
    },
    {
        "id": "037956a115ac26bf",
        "type": "function",
        "z": "5b18dbe0f3094eef",
        "name": "DummyTest",
        "func": "// Manual Setting\nlet sensorId = 1; // ganti ke sensor mana yang ingin kamu pakai (1, 2, dst)\nlet patternId = 1; // ganti ke pattern mana yang ingin kamu pakai (1, 2, dst)\n\n// Fungsi waktu WIB\nfunction getWIBTime(minusSeconds = 0) {\n    let date = new Date(Date.now() - (minusSeconds * 1000));\n    date.setHours(date.getHours() + 7);\n    return date.toISOString().slice(0, 19).replace('T', ' ');\n}\n\n// Waktu\nlet timeValue = getWIBTime(2);\nlet createdAt = getWIBTime(0);\nlet updatedAt = getWIBTime(0);\n\n// Insert ke sensor_histories\nmsg.topic = `\n    INSERT INTO sensor_histories \n    (pattern_id, sensor_id, time, duration, created_at, updated_at)\n    VALUES (NULL, ${sensorId}, '${timeValue}', NULL, '${createdAt}', '${updatedAt}')\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "11d515323dfdfc17"
            ]
        ]
    },
    {
        "id": "ab03e529addf37f4",
        "type": "debug",
        "z": "5b18dbe0f3094eef",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "74c56203d01b97a3",
        "type": "inject",
        "z": "5b18dbe0f3094eef",
        "name": "Poll PLC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "cbbd0ffa45a46c81"
            ]
        ]
    },
    {
        "id": "edcfae1eafad7561",
        "type": "function",
        "z": "5b18dbe0f3094eef",
        "name": "function 1",
        "func": "let values = msg.payload;\nlet queries = [];\nlet lastValues = context.get(\"lastValues\") || [];\n\n// Debug raw data\nnode.warn(\"RAW: \" + JSON.stringify(values));\n\nif (!Array.isArray(values) || values.length === 0) {\n    node.error(\"msg.payload kosong atau tidak valid\");\n    return;\n}\n\n// Convert DEC → HEX formatted BCD 4 digit\nfunction toBCDHexString(v) {\n    if (v === undefined || v === null) return \"0000\";\n    return v.toString(16).toUpperCase().padStart(4, \"0\");\n}\n\nfunction decodeBCDDatetime(v1, v2, v3) {\n    let h1 = toBCDHexString(v1);\n    let h2 = toBCDHexString(v2);\n    let h3 = toBCDHexString(v3);\n\n    let raw = h1 + h2 + h3;\n    node.warn(\"Decode BCD: \" + raw);\n\n    let year = 2000 + parseInt(raw.slice(0, 2), 10);\n    let month = raw.slice(2, 4);\n    let day = raw.slice(4, 6);\n    let hour = raw.slice(6, 8);\n    let minute = raw.slice(8, 10);\n    let second = raw.slice(10, 12);\n\n    return `${year}-${month}-${day} ${hour}:${minute}:${second}`;\n}\n\n// 🔹 Loop dengan pembagian data tetap per 3 elemen (1 sensor)\nlet totalSensors = Math.floor(values.length / 3);\n\nfor (let idx = 0; idx < totalSensors; idx++) {\n    let base = idx * 3;\n    let w1 = values[base];\n    let w2 = values[base + 1];\n    let w3 = values[base + 2];\n\n    // Cek apakah data sensor lengkap\n    if (w1 === undefined || w2 === undefined || w3 === undefined) {\n        node.warn(`Sensor ${idx + 1} SKIP (data tidak lengkap)`);\n        continue;\n    }\n\n    // Cek apakah semua data nol/null\n    if ((w1 === 0 || w1 === null) &&\n        (w2 === 0 || w2 === null) &&\n        (w3 === 0 || w3 === null)) {\n        node.warn(`Sensor ${idx + 1} SKIP (semua nol/null)`);\n        continue;\n    }\n\n    // Kalau lolos, baru decode dan buat query\n    let datetime = decodeBCDDatetime(w1, w2, w3);\n    node.warn(`Sensor ${idx + 1} datetime: ${datetime}`);\n\n    let combinedRaw = `${w1}-${w2}-${w3}`;\n    let oldRaw = lastValues[idx] || \"\";\n\n    if (combinedRaw !== oldRaw) {\n        node.warn(`Sensor ${idx + 1} UPDATED: ${combinedRaw}`);\n\n        queries.push({\n            topic: `INSERT INTO sensor_histories (pattern_id, sensor_id, time, created_at, updated_at)\n                    VALUES (NULL, ${idx + 1}, '${datetime}', '${datetime}', '${datetime}')`\n        });\n\n        lastValues[idx] = combinedRaw;\n    }\n}\n\ncontext.set(\"lastValues\", lastValues);\n\nnode.warn(\"✅ Queries generated: \" + queries.length);\nreturn [queries];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "11d515323dfdfc17"
            ]
        ]
    },
    {
        "id": "cbbd0ffa45a46c81",
        "type": "FINS Read",
        "z": "5b18dbe0f3094eef",
        "name": "read PLC",
        "connection": "18c246b2de0f92fd",
        "addressType": "str",
        "address": "D0",
        "countType": "num",
        "count": "20",
        "msgPropertyType": "msg",
        "msgProperty": "payload",
        "outputFormatType": "signed",
        "outputFormat": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "edcfae1eafad7561"
            ]
        ]
    },
    {
        "id": "9a658030453a125d",
        "type": "mysql",
        "z": "5b18dbe0f3094eef",
        "mydb": "88d3317ec59a0363",
        "name": "database",
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "11d515323dfdfc17",
        "type": "mysql",
        "z": "5b18dbe0f3094eef",
        "mydb": "88d3317ec59a0363",
        "name": "database",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "ab03e529addf37f4"
            ]
        ]
    },
    {
        "id": "18c246b2de0f92fd",
        "type": "FINS Connection",
        "name": "",
        "host": "192.168.2.9",
        "port": 9600,
        "MODE": "",
        "MODEType": "CS",
        "protocol": "",
        "protocolType": "udp",
        "ICF": 128,
        "DNA": "",
        "DA1": "0x01",
        "DA2": "",
        "SNA": "",
        "SA1": "0x06",
        "SA2": "",
        "autoConnect": true
    },
    {
        "id": "88d3317ec59a0363",
        "type": "MySQLdatabase",
        "name": "db_aiss",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "db_wip_monitoring",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "cdd1970cada3dc63",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-omron-fins": "0.5.0",
            "node-red-node-mysql": "2.0.0"
        }
    }
]